<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>443101330466-puk3qqcq0g2lhiqh4o766ao6galler3v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.443101330466-puk3qqcq0g2lhiqh4o766ao6galler3v</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>443101330466-o50f2pbrpv9o82efpoq0a6gl3kb7lk65.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCrI0Tj_L3hcpds8MjhcX0nHJLHqDPUBsE</string>
	<key>GCM_SENDER_ID</key>
	<string>443101330466</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.unifesspa.mybus</string>
	<key>PROJECT_ID</key>
	<string>mybus-unifespa</string>
	<key>STORAGE_BUCKET</key>
	<string>mybus-unifespa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:443101330466:ios:cf2d91d01f191e0e505e7b</string>
	<key>DATABASE_URL</key>
	<string>https://mybus-unifespa.firebaseio.com</string>
</dict>
</plist>